.category{
    width: 100%;
    background-color: $light-color;
    .container{
        width: 96%;
        margin: 0 auto;
        padding: 40px 0;
        font-family: $font2;
        @include mq(large){
            padding-bottom: 0;
        }
        .center{
            text-align: center;
            h1{
                color: $main-color;
                font-size: 36px;
                text-transform: uppercase;
                margin-bottom: 10px;
                @include mq(small){
                    font-size: 30px;
                }
            }
            a{
                font-family: $font3;
                font-size: 19px;
                color: $dark-color;
                font-style: italic;
                &:after{
                    content: '';
                    display: inline-block;
                    width: 0;
                    height: 0;
                    border-top: 4px solid transparent;
                    border-bottom: 4px solid transparent;
                    border-left: 4px solid $dark-color;
                    margin-left: 6px;
                    transition: all .4s ease;
                }
                transition: all .4s ease;
                &:hover{
                    color: $main-color;
                    &:after{
                        border-left: 4px solid $main-color;
                    }
                }
            }
        }
        .products-block{
            margin-top: 50px;
            font-size: 0;
            .product{
                display: inline-block;
                vertical-align: top;
                width: 20.5%;
                margin: 0 3%;
                font-size: 14px;
                text-align: center;
                @include mq(large){
                    width: 47%;
                    margin-bottom: 70px;
                    &:nth-child(2){
                        margin-right: 0;
                    }
                    &:nth-child(3){
                        margin-left: 0;
                    }
                }
                @include mq(small){
                    width: 100%;
                    margin: 0 0 70px 0;
                }
                a{
                    display: block;
                    height: 100%;
                }
                &:first-child{
                   margin-left: 0; 
                }
                &:last-child{
                    margin-right: 0;
                }
                .img{
                    height: 260px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    transition: transform .2s ease;
                    &:hover{
                        transform: scale(0.96);
                    }
                }
                h2, p{
                    font-size: 14px;
                    color: $dark-color;
                }
                h2{
                    font-weight: bold;
                    margin: 35px 0 10px 0;
                }
            }
        }
    }
}